/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f7f6;
    color: #4a4a4a;
    margin: 0;
    padding: 0;
}

header {
    background-color: #82c4c3;
    padding: 10px;
    max-width: 100%;
    height: fit-content;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
  
.infobtn {
  font-size: 1.5em;
  color: white;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 50%; /* Membuat tombol bulat */
  padding: 5px;
  width: 30px; /* Menentukan lebar tombol */
  height: 30px; /* Menentukan tinggi tombol */
  display: flex;
  justify-content: center;
  align-items: center;
}

.infobtn:hover{
  background-color: #729f9e;
}

.dropdown {
  /* position: absolute; */
  top: 10px;
  right: 10px;
}

.dropbtn {
  background-color: #82c4c3;
  color: white;
  border: 1px solid white;
  padding: 10px;
  font-size: 16px;
  width: 40px;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #729f9e;
}

h1 {
    margin: 0;
    font-size: 2.5em;
    color: white;
    font-family: 'Poppins', sans-serif;
}
  
/* Container */
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

/* Main container */
.bmi-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin: 20px auto;
  background-color: #eef6f7;
  border-radius: 20px;
}

canvas {
  background-color: white;
  border: 1px solid #ccc;
  width: 100%;
}

.input-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
    align-items: center;
}
    
.input-container div {
    margin: 0 10px;
}

input {
    width: 60px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
.gender-selector {
  display: flex;
  align-items: center;
}

.gender-selector img {
  width: 100px;
  height: auto;
  margin: 0 10px;
  transition: transform 0.4s ease-in-out; /* Smooth transition */
}

.gender-selector img.switched {
  transform: scale(1.1); /* Efek animasi saat gender berubah */
}

.coordinate-selector {
  position: relative;
  margin: 20px;
}
  
#coordinateCanvas {
  background-color: #eef6f7;
  border: 2px solid #82c4c3;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

#coordinateCanvas:hover {
  background-color: #d1f0f0; /* Mengubah warna latar saat drag terjadi */
}
  
.calculate-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #82c4c3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
  
.calculate-btn:hover{
  background-color: #729f9e;
}
  
.bmi-result {
  text-align: center;
  margin: 20px 0;
}

.bmi-result p {
  font-size: 1.5em;
}
  
.articles {
  margin: 20px;
  text-align: center;
}

.article-slider {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-behavior: smooth; /* Efek geser yang halus */
  padding: 10px;
}

/* .article-slider::-webkit-scrollbar {
  display: none;
}   */

.article {
  background-color: white;
  border-radius: 10px;
  /* padding: 10px; */
  min-width: 200px;
  flex: none;
  transition: transform 0.3s ease-in-out; /* Efek saat dihover */
}

.article:hover {
  transform: scale(1.05); /* Perbesar saat dihover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Berikan efek bayangan */
}
  
.article img {
  width: 150px;
  border-radius: 10px;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
  
.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .bmi-container {
    flex-direction: column;
    align-items: center;
  }
}
  

footer {
  background-color: #82c4c3;
  color: white;
  text-align: center;
  padding: 5px;
  max-width: 100%;
  bottom: 0;
}